<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwConfigExceptions="true"
      internalLogToConsole="true"
      internalLogLevel="info">
	
	<variable name="LogPath" value="C:\AkkaTcp\"/>

	<targets async="true" >

		<target name="LogControl"
				xsi:type="File"
				fileName="${LogPath}/AkkaLog.log"
				archiveFileName="${LogPath}/AkkaLog.{#}.log"
				archiveNumbering="DateAndSequence"
				archiveAboveSize="1000000"
				encoding="utf-8"
			    maxArchiveFiles="5"
				archiveDateFormat="yyyyMMdd"
				archiveEvery="Day"
		/>

		<target name="ClientLog"
				xsi:type="File"
				fileName="${LogPath}/ClientLog.log"
				archiveFileName="${LogPath}/ClientLog.{#}.log"
				archiveNumbering="DateAndSequence"
				archiveAboveSize="1000000"
				encoding="utf-8"
			    maxArchiveFiles="5"
				archiveDateFormat="yyyyMMdd"
				archiveEvery="Day"
       />

	</targets>

	<rules>
		<logger name="ClientLog" minlevel="Debug" writeTo="ClientLog" />
		<logger name="*" minlevel="Debug" writeTo="LogControl" />
	</rules>


</nlog>