<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">

  <!-- optional, add some variables
  https://github.com/nlog/NLog/wiki/Configuration-file#variables
  -->
 <variable name="LogPath" value="D:\AkkaTcp"/>

  <!--
  See https://github.com/nlog/nlog/wiki/Configuration-file
  for information on customizing logging rules and outputs.
   -->
	<targets async="true" >

		<target name="LogControl"
				xsi:type="File"
				fileName="${LogPath}/AkkaLog.log"
				archiveFileName="${LogPath}/AkkaLog.{#}.log"
				archiveNumbering="DateAndSequence"
				archiveAboveSize="1000000"
				encoding="utf-8"
			    maxArchiveFiles="5"
				archiveDateFormat="yyyyMMdd"
				archiveEvery="Day"
		/>

		<target name="ClientLog"
				xsi:type="File"
				fileName="${LogPath}/ClientLog.log"
				archiveFileName="${LogPath}/ClientLog.{#}.log"
				archiveNumbering="DateAndSequence"
				archiveAboveSize="1000000"
				encoding="utf-8"
			    maxArchiveFiles="5"
				archiveDateFormat="yyyyMMdd"
				archiveEvery="Day"
       />

		<target name="ServerLog"
				xsi:type="File"
				fileName="${LogPath}/ServerLog.log"
				archiveFileName="${LogPath}/ServerLog.{#}.log"
				archiveNumbering="DateAndSequence"
				archiveAboveSize="1000000"
				encoding="utf-8"
			    maxArchiveFiles="5"
				archiveDateFormat="yyyyMMdd"
				archiveEvery="Day"
       />

	</targets>

	<targets async="true">
		<target name="RichTextBox"
				xsi:type="RichTextBox"
				controlName="RichTextMsg"
				formName="Form1"
				useDefaultRowColoringRules="true"
				autoScroll="true"
				maxLines="100"
				layout="${longdate}-${level} ${message} ${onexception:||${exception}||${stacktrace}}"
    />
	</targets>

  <rules>
	  <logger name="ClientLog" minlevel="Debug" writeTo="ClientLog" />
	  <logger name="ClientLog" minlevel="Debug" writeTo="RichTextBox" />

	  <logger name="ServerLog" minlevel="Debug" writeTo="ServerLog" />
	  <logger name="ServerLog" minlevel="Debug" writeTo="RichTextBox" />
	  <logger name="*" minlevel="Debug" writeTo="LogControl" />
  </rules>
</nlog>
